body {
  margin: 0;
  padding: 0;
}

.bi {
  padding-right: 2px;
}

#item-list {
  padding: 1.5rem;
  height: 100vh;
}

.card {
  border-radius: 8px;
}

.card-header:first-child {
  border-radius: 8px 8px 0 0;
}

.card-footer:last-child {
  border-radius: 0 0 8px 8px;
}

#item-list .card {
  height: 100%;
}

#item-list .card-body {
  overflow-y: scroll;
  padding: 0;
}

#item-list .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#item-list .card-footer,
#item-list .card-header {
  background-color: white;
}

.pagination {
  justify-content: center;
  margin: 0;
}

#item-list table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; 
  margin: 0;
}

#item-list thead {
  position: sticky;
  top: 0;
  background-color: #ededed;
}

#item-list th {
  color: gray;
  font-weight: normal;
  text-transform: uppercase;
  font-size: small;
}

#item-list td:first-child, th:first-child {
  padding-left: 24px;
}

/* Hide the last border */
.table>:not(caption)>*:last-child>* {
  border-bottom-width: 0;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #ededed;
}

::-webkit-scrollbar-thumb {
  background-color: #00000052;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  margin-block-start: 36px;
  background-color: #20202000;
}

.container-fluid {
  height: 100%;
}

#row1, #row2, #row4, #row5 {
  height: 50%;
}

#row3{
  height: 100%
}

.plot-container, .svg-container, .svg-container > svg {
  height: 100% !important;
}

#row1 > div, #row1 > div > div {
  height: 100%;
}

#row2 > div, #row2 > div > div {
  height: 100%;
}

#row3 > div, #row3 > div > div {
  height: 100%;
}

#row4 > div, #row4 > div > div {
  height: 100%;
}

#row5 > div, #row5 > div > div {
  height: 100%;
}

#plot1 {
  height: 90%;
}

/* DEBUG */
*[class^='col-'], .col {
  border: black solid 1px;
}

#wordcloud {
  height: 100%;
  width: auto;
  display: flex;
  margin: auto;
}

.row {
  --bs-gutter-y: 0;
  --bs-gutter-x: 0;
}

#brand-categories, #topics-sentiment {
  height: 50% !important;
}

.select-container {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.select-container > span {
  margin: 8px;
}

.page-container {
  height: calc(100vh - 56px);
}